<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.bg-img {
  /* The image used */
  background-image: url("img_nature.jpg");

  min-height: 580px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


</style>
</head>
<body>


<div class="bg-img">
  

</body>
</html>
